@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    margin: 0;
    padding: 0;
    
    

}

.main_bg{
    background-image: url(o.jpg);
    background-size:cover;
    max-width: 1280px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.form{
    width: 650px;
}

.form-text{
    text-align: center;
    margin: -94px 0 40px 0;
}
.form-text h1 span img{
    margin: 0 10px;

}
.form-text h1{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    margin-bottom: 20px;
    background-image: url('o.jpg');
}
.form-text p{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: large;
}

.main-form div{
    margin: 10px 10px;
    width: 300px;
    display: inline-block;
    
}


  
  /*// Border Animation END//*/
  
  
  
  /*// Ignore This //*/
  body {
	margin: 0px;
    

  }
  
  .center-box{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1D1E22;
  }
.main-form div input {
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
 input:hover{
	box-shadow: 0 5px 50px 0 #002f75 inset,0 5px 50px 0 #15f4ee,0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee;
}
::placeholder { 
	color:white;
	opacity: 1; 
  }
#Tickets{
	box-shadow: 0 5px 50px 0 #002f75 inset,0 5px 50px 0 #15f4ee,0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee;
}
.main-form div select{
    width: 104%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div span{
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    color: #fff;
    font-size: 25px;
}

#submit{
    width: 100%;
    text-align: center;
	top:122px;
    border-radius: 44px;
}
#submit input{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
   
    color:transparent;
    color: black !important;
    transition: all .3s;
}
#submit input:hover{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: black !important;
    color: #fff !important;
}
#submit input:active{
    font-size: 19px;
    background-color: rgb(46, 20, 5) !important;
    color: #fff !important;
}


@media screen and (min-width: 600px) {
    
    .main-bg{
        text-align: center;
        width: 50%;
    }
}

/* make by ruhul amin */
.main-form{
	

	box-shadow: 16px 14px 20px #0000008c;
	color: #fff;
    box-shadow: 0 0 50px 15px #48abe0;
	border-radius: 40px;
	
}
.main-form::before{
	
	background-image: conic-gradient(
		#ff0052 20deg,
		transparent 120deg
	);

	animation: rotate 2s linear infinite;
}
.main-form::after{

	border-radius: 10px;
	display: flex;
	color: #ff0052;
	font-size: larger;
	letter-spacing: 5px;
	box-shadow: inset 20px 20px 20px #0000008c;
	
}
@keyframes rotate {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(-360deg);
	}
}
button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   /* Visit https://democoding.in/ for more free css animation */
   
   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }